<html>
  <body>
    <canvas id="c"></canvas>
    <link rel="stylesheet" href="../static/css/summary.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <div class="container">
      <button id="generate" style="opacity: 0">Generate</button>
      <table>
        <caption>
          Comparison Summary
        </caption>
      </table>
      <div class="userlist">
        <ul>
          {% for book in recs %}
          <li><a>{{ book }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="sm">
      <h1>Your similarity: {{similarity}}</h1>
    </div>
  </body>
  <script src="../static/js/summary.js"></script>
</html>