<!DOCTYPE html>
<html>
  <head>
    <title>Books Comparer</title>
    <script src="../static/js/script.js"></script>
    <link rel="stylesheet" href="../static/css/upload_style.css" />
    <script src="	https://unpkg.com/axios@0.24.0/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="heading" id="heading"><p>Upload your Goodreads files below, and we'll give you some recommendations!
      <br>
      <br>
      Upload your friend's files too to see how you two compare!</p></div>
    <div class="container" id="container">
      <div class="booklists" id="booklists">
        <p class="booklistone" id="booklistone"></p>
        <div class="booklisttwo" id="booklisttwo"></div>
      </div>
      <div class="spacer"></div>
      <div class="uploadbtns" id="uploadbtns">
        <form id="upload" method="POST" action="" enctype="multipart/form-data">
          <input
            id="listoneupload"
            name="file1"
            type="file"
            accept=".csv"
            value="Upload"
            class="btn"
            onchange="readlistone()"
          />
          <input id="compare" type="submit" value="Compare" class="btn" />
          <input
            id="listtwoupload"
            name="file2"
            type="file"
            accept=".csv"
            value="Upload"
            class="btn2"
            onchange="readlisttwo()"
          />
        </form>
      </div>
    </div>
    <div class="back" style="text-align: center">
      <a href="homepage">
        <img
          src="../static/images/back_button.png"
          width="50"
          height="50"
          class="center"
        />
      </a>
    </div>
  </body>
</html>