<html>
  <body>
    <link rel="stylesheet" href="../static/css/summary.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <div class="container">
      <button id="generate">Generate</button>
      <table>
        <caption>
          Comparison Summary
        </caption>
      </table>
      <div class="userlist">
        <ul>
          {% for book in recs %}
          <li><a>{{ book }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <h1>{{similarity}}</h1>
    </div>
  </body>
  </html>